.HP {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.PanelHP {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.arrowHP:hover {
   transform: scale(1.2);
}

.arrowHP {
   margin-top: 24vh;
   margin-left: 3vw;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrowHPfadein;
   animation-fill-mode: forwards;
}

@keyframes arrowHPfadein {
   0% {opacity:0;}
   100% {opacity:1;}
}


.HP-BoxHP {
   height: inherit;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 1.5vw;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: hpgrow;
   animation-fill-mode: forwards;
}

@keyframes hpgrow {
   from {
      height: 27.5vh;
      width: 30vw;
   }

   to {
      margin-top: 0px;
      margin-left: 0px;
      height: 75vh;
      width: 100vw;
   }
}


.HP-TitleboxHP {
   margin-top: 23vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 67vw;
   position: relative;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: hpfadein;
   animation-fill-mode: forwards;
}

.TitleHP {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.9vw;
}

.StampHP {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
}

.hpdisplaybackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 10px;
   animation-duration: 1.75s;
   animation-name: hpfadein;
   animation-fill-mode: forwards;
}

.hpdisplay {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 1;
}

.hppopup {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 2;
}

.hppopupbackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: hpfadein;
   animation-fill-mode: forwards;
}

.hpdescbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: .6vw;
   animation-duration: 1.75s;
   animation-name: hpfadein;
   animation-fill-mode: forwards;
}

.hpdesc {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hp-desc-title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.6vw;
}

.hpaward {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-style: italic;
   text-align: center;
   font-size: 1vw;
}

.hp-desc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   padding: 10px;
   font-size: 1vw;
}

.hptechbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: hpfadein;
   animation-fill-mode: forwards;
}

.hptech {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hptech-box {
   font-family: sans-serif;
   font-weight: 100;
   font-size: .85vw;
   background-color: white;
   border-style: solid;
   border-color: #2b384d;
   border-width: 1px;
   width: 9vw;
   height: 4.5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

@keyframes hpfadein {
   0% {opacity:0;}
   100% {opacity:1;}
}