.RF {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.PanelRF {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.arrowRF:hover {
   transform: scale(1.2);
}

.arrowRF {
   margin-top: 24vh;
   margin-left: 3vw;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrowRFfadein;
   animation-fill-mode: forwards;
}

@keyframes arrowRFfadein {
   0% {opacity:0;}
   100% {opacity:1;}
}


.RF-BoxRF {
   height: inherit;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 1.5vw;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: rfgrow;
   animation-fill-mode: forwards;
}

@keyframes rfgrow {
   from {
      height: 27.5vh;
      width: 30vw;
   }

   to {
      margin-top: 0px;
      margin-left: 0px;
      height: 75vh;
      width: 100vw;
   }
}


.RF-TitleboxRF {
   margin-top: 23vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 67vw;
   position: relative;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: rffadein;
   animation-fill-mode: forwards;
}

.TitleRF {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.9vw;
}

.StampRF {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
}

.rfdisplaybackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 10px;
   animation-duration: 1.75s;
   animation-name: rffadein;
   animation-fill-mode: forwards;
}

.rfdisplay {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 1;
}

.rfpopup {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 2;
}

.rfpopupbackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: rffadein;
   animation-fill-mode: forwards;
}

.rfdescbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: .6vw;
   animation-duration: 1.75s;
   animation-name: rffadein;
   animation-fill-mode: forwards;
}

.rfdesc {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.desc-title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.6vw;
}

.award {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-style: italic;
   text-align: center;
   font-size: 1vw;
}

.desc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   padding: 10px;
   font-size: 1vw;
}

.rftechbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: rffadein;
   animation-fill-mode: forwards;
}

.rftech {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.tech-box {
   font-family: sans-serif;
   font-weight: 100;
   font-size: .85vw;
   background-color: white;
   border-style: solid;
   border-color: #2b384d;
   border-width: 1px;
   width: 9vw;
   height: 4.5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

@keyframes rffadein {
   0% {opacity:0;}
   100% {opacity:1;}
}