.RF {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.PanelRF {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.Panel-layerRF {
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   position: absolute;
}

.arrowRF:hover {
   transform: scale(1.2);
}

.arrowRF {
   margin-top: 24vh;
   margin-left: 3vw;
   width: 14vw;
   height: 25vh;
   transition: all .5s ease-in-out;
   animation-duration: 2s;
   animation-name: arrowRFfadein;
   animation-fill-mode: forwards;
}

@keyframes arrowRFfadein {
   from {
      width: 0;
      height: 0;
   }

   to {
      width: 14vw;
      height: 25vh;
   }
}


.RF-BoxRF {
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 1.5vw;
   margin-left: 6vw;
   animation-duration: 2s;
   animation-name: rfgrow;
   animation-fill-mode: forwards;
}

@keyframes rfgrow {
   from {
      margin-top: 1.5vw;
      margin-left: 18vw;
      height: 27vh;
      width: 29.5vw;
   }

   to {
      margin-top: 0px;
      margin-left: 0px;
      height: 75vh;
      width: 100vw;
   }
}


.RF-TitleboxRF {
   margin-top: 23vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 79vw;
   animation-duration: 2s;
   animation-name: rftitleboxgrow;
   animation-fill-mode: forwards;
}

@keyframes rftitleboxgrow {
   from {
      margin-left: 12vw;
      margin-top: 2vh;
      width: 0vw;
      height: 0vh;
   }
   to {
      width: 79vw;
      height: 100%;
   }
}

.TitleRF {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.9vw;
   animation-duration: 2s;
   animation-name: rftitlegrow;
   animation-fill-mode: forwards;
}

@keyframes rftitlegrow {
   from {
      margin-top: 0vh;
      font-size: 0vw;
   }
   to {
      font-size: 1.9vw;
   }
}

.StampRF {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
   animation-duration: 2s;
   animation-name: rfstampgrow;
   animation-fill-mode: forwards;
}

@keyframes rfstampgrow {
   from {
      font-size: 0vw;
   }
   to {
      font-size: 1vw;
   }
}

.rfdisplaybackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: .6vw; 
   animation-duration: 2s;
   animation-name: rfdispbggrow;
   animation-fill-mode: forwards;
}

@keyframes rfdispbggrow {
   from {
      height: 0vh;
      width: 0vw;
   }

   to {
      width: 28vw;
      height: 34vh;
   }
}

.rfdisplay {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 1;
}

.rfpopup {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 2;
}

.rfpopupbackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
/*    margin-left: 65.5vw;
   margin-top: 39vh; */
   animation-duration: 2s;
   animation-name: rfpopupbggrow;
   animation-fill-mode: forwards;
}

@keyframes rfpopupbggrow {
   from {
      margin-left: 20vw;
      margin-top: 4vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 65.5vw;
      margin-top: 39vh;
      width: 28vw;
      height: 34vh;
   }
}

.rfdescbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
/*    margin-left: 65.5vw;
   margin-top: .6vw; */
   animation-duration: 2s;
   animation-name: rfdescbggrow;
   animation-fill-mode: forwards;
}


@keyframes rfdescbggrow {
   from {
      margin-left: 20vw;
      margin-top: 2vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 65.5vw;
      margin-top: .6vw;
      width: 28vw;
      height: 34vh;
   }
}

.rfdesc {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.desc-title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.6vw;
   animation-duration: 2s;
   animation-name: rfdesctitlegrow;
   animation-fill-mode: forwards;
}

@keyframes rfdesctitlegrow {
   from {
      font-size: 0vw;
   }

   to {
      font-size: 1.6vw;
   }
}


.award {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-style: italic;
   text-align: center;
   font-size: 1vw;
   animation-duration: 2s;
   animation-name: rfdescawardgrow;
   animation-fill-mode: forwards;
}

@keyframes rfdescawardgrow {
   from {
      font-size: 0vw;
   }

   to {
      font-size: 1vw;
   }
}

.desc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   padding: 10px;
   font-size: 1vw;
   animation-duration: 2s;
   animation-name: rfdescgrow;
   animation-fill-mode: forwards;
}

@keyframes rfdescgrow {
   from {
      font-size: 0vw;
   }

   to {
      font-size: 1vw;
   }
}

.rftechbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 39vh;
   animation-duration: 2s;
   animation-name: rftechbggrow;
   animation-fill-mode: forwards;
}

@keyframes rftechbggrow {
   from {
      margin-top: 4vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 19vw;
      margin-top: 39vh;
      width: 28vw;
      height: 34vh;
   }
}

.rftech {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.tech-box {
   font-family: sans-serif;
   font-weight: 100;
   font-size: .85vw;
   background-color: white;
   border-style: solid;
   border-color: #2b384d;
   border-width: 1px;
   width: 9vw;
   height: 4.5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   animation-duration: 2s;
   animation-name: rftechboxgrow;
   animation-fill-mode: forwards;
}

@keyframes rftechboxgrow {
   from {
      height: 0vh;
      width: 0vw;
      font-size: 0vw;
   }

   to {
      width: 9vw;
      height: 4.5vw;
      font-size: .85vw;
   }
}

@keyframes rffadein {
   0% {opacity:0;}
   100% {opacity:1;}
}