.section3 {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.Panel3 {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.arrow3:hover {
   transform: scale(1.2);
}

.arrow3 {
   margin-left: 19vw;
   top: 35vh;
   width: 14vw;
   height: 25vh;
   position: absolute;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrow3fadein;
   animation-fill-mode: forwards;
}

@keyframes arrow3fadein {
   0% {opacity:0;}
   100% {opacity:1;}
}

.backarrow3:hover {
   transform: scale(1.2);
}

.backarrow3 {
   margin-left: 1vw;
   top: 35vh;
   width: 14vw;
   height: 25vh;
   position: absolute;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrow3fadein;
   animation-fill-mode: forwards;
}


.Projects {
   background-color: rgba(189, 189, 189, .6);
   width: 32vw;
   height: 58vh;
   font-family: sans-serif;
   font-weight: 100;
   font-size: 4vw;
   color: white;
   text-align: center;
   display: flex;
   align-items: center;
   padding-left: 3vw;
   position: relative, fixed;
   margin-left: 32vw;
   animation-duration: 1.75s;
   animation-name: projslidedown;
   animation-fill-mode: forwards;
   margin-top: 8vh;
}

@keyframes projslidedown {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.RF-Box {
   height: 27.5vh;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: absolute;
   gap: 2vw;
   justify-content: space-around;
   margin-top: 1.5vw;
   animation-duration: 1.75s;
   animation-name: rfslideright;
   animation-fill-mode: forwards;
}

@keyframes rfslideright {
   from {
      margin-left: 13vw;
   }

   to {
      margin-left: 18vw;
   }
}

.HP-Box {
   height: 27.5vh;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   gap: 1vw;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   margin-top: 1.5vw;
   animation-duration: 1.75s;
   animation-name: hpslideleft;
   animation-fill-mode: forwards;
}

@keyframes hpslideleft {
   from {
      margin-left: 59vw;
   }

   to {
      margin-left: 53vw;
   }
}

.Sudoku-Box {
   height: 27.5vh;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: absolute;
   margin-top: 25vw;
   animation-duration: 1.75s;
   animation-name: sudokuslideright;
   animation-fill-mode: forwards;
   gap: 2vw;
   justify-content: space-around;
}

@keyframes sudokuslideright {
   from {
      margin-left: 29vw;
   }

   to {
      margin-left: 34.5vw;
   }
}

.RF-Titlebox {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.8vw;
}

.Stamp {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
}

.HP-Titlebox {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Sudoku-Titlebox {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Linkproj {
   width: 100px;
   height: 150px;
}

.arrowproj {
   width: 120px;
   height: 150px;
   transition: all .2s ease-in-out;
}

.arrowproj:hover {
   transform: scale(1.2);
}