.section4 {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.Panel4 {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.arrow4:hover {
   transform: scale(1.2);
}

.arrow4 {
   margin-left: 9vw;
   margin-top: 23vh;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrow4fadein;
   animation-fill-mode: forwards;
}

@keyframes arrow4fadein {
   0% {opacity:0;}
   100% {opacity:1;}
}

.cwbox {
   background-color: rgba(189, 189, 189, .6);
   width: 65vw;
   height: 60vh;
   font-family: sans-serif;
   font-weight: 100;
   font-size: 4vw;
   color: white;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   position: relative;
   animation-duration: 1.75s;
   animation-name: cwslidedown;
   animation-fill-mode: forwards;
   margin-top: 0;
}

@keyframes cwslidedown {
   from {
      margin-left: 0;
   }

   to {
      margin-left: 5vw;
   }
}

.sem4 {
   background-color: #FAF1EA;
   width: 17.5vw;
   height: 5.5vh;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 1.8vw;
   border-color: #2b384d;
   border-style: solid;
   font-size: 1.4vw;
}

.sem3 {
   background-color: #FAF1EA;
   width: 17.5vw;
   height: 5.5vh;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 20vw;
   border-color: #2b384d;
   border-style: solid;
   font-size: 1.4vw;
}

.sem2 {
   background-color: #FAF1EA;
   width: 17.5vw;
   height: 5.5vh;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 38.2vw;
   border-color: #2b384d;
   border-style: solid;
   font-size: 1.4vw;
}

.sem1 {
   background-color: #FAF1EA;
   width: 17.5vw;
   height: 5.5vh;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 56.35vw;
   border-color: #2b384d;
   border-style: solid;
   font-size: 1.4vw;
}

.courses {
   position: absolute;
   display: flex;
   flex-direction: column;
   height: 500px;
   animation-duration: 1.75s;
   animation-name: coursesfadein;
   animation-fill-mode: forwards;
}

@keyframes coursesfadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.course4 {
   background-color: white;
   border-color: #2b384d;
   border-style: solid;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   width: 17.5vw;
   height: 5.5vh;
   margin-left: 30px;
   margin-top: 10px;
   margin-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .9vw;
}

.course3 {
   background-color: white;
   border-color: #2b384d;
   border-style: solid;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   width: 17.5vw;
   height: 5.5vh;
   margin-left: 20vw;
   margin-top: 10px;
   margin-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .9vw;
}

.course2 {
   background-color: white;
   border-color: #2b384d;
   border-style: solid;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   width: 17.5vw;
   height: 5.5vh;
   margin-left: 38.2vw;
   margin-top: 10px;
   margin-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: .9vw;
}

.course1 {
   background-color: white;
   border-color: #2b384d;
   border-style: solid;
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   width: 17.5vw;
   font-size: .9vw;
   height: 5.5vh;
   margin-left: 56.35vw;
   margin-top: 10px;
   margin-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}