.section1 {
   height: 100vh;
   width: 100vw;
   background-color: rgb(160, 177, 168, .3);
}

.Panel1 {
   background-color: white;
   height: 75vh;
   width: 100vw;
   top: 12.25vh;
 }
 
 .Panel-Rectangle {
   background-color: rgba(189, 189, 189, .6);
   height: 550px;
   width: 950px;
   top: 12.25vh;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   position: absolute;
 }
 
 .Headshot {
   opacity: 1;
   z-index: 1;
   position: absolute;
 }
 
 .tag-slide {
   background-color: #FAF1EA;
   width: 600px;
   height: 185px;
   position: relative;
   left: 600px;
   animation-duration: 1.75s;
   animation-name: slidedown;
   animation-fill-mode: forwards;
 }
 
 @keyframes slidedown {
   from {
     margin-top: 0;
   }
 
   to {
     margin-top: 100px;
   }
 }
 
 .name {
   color: #2b384d;
   animation-duration: 1.75s;
   animation-name: nameslideleft;
   animation-fill-mode: forwards;
   z-index: 5;
   top: 225px;
   position: absolute;
   font-family:sans-serif;
   font-weight: 100;
 }
 
 @keyframes nameslideleft {
   from {
     margin-left: 80vw;
   }
 
   to {
     margin-left: 810px;
   }
 }
 
 .description {
   color: #2b384d;
   animation-duration: 1.75s;
   animation-name: descslideleft;
   animation-fill-mode: forwards;
   z-index: 5;
   top: 300px;
   position: absolute;
   font-family: sans-serif;
   font-weight: 100;
 }
 
 @keyframes descslideleft {
   from {
     margin-left: 80vw;
   }
 
   to {
     margin-left: 770px;
   }
 }

.arrow1:hover {
    transform: scale(1.2);
 }

 .arrow1 {
    margin-left: 1300px;
    width: 200px;
    height: 250px;
    transition: all .2s ease-in-out;
    animation-duration: 1.75s;
    animation-name: arrow1fadein;
    animation-fill-mode: forwards;
 }

 @keyframes arrow1fadein {
    0% {opacity:0;}
    100% {opacity:1;}
 }