.section5 {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.Panel5 {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.arrow5:hover {
   transform: scale(1.2);
}

.arrow5 {
   left: 85vw;
   margin-top: 23vh;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrow5fadein;
   animation-fill-mode: forwards;
   position: absolute;
}

.backarrow5:hover {
   transform: scale(1.2);
}

.backarrow5 {
   margin-left: 2vw;
   margin-top: 23vh;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrow5fadein;
   animation-fill-mode: forwards;
}

@keyframes arrow5fadein {
   0% {opacity:0;}
   100% {opacity:1;}
}


.webox {
   background-color: rgba(189, 189, 189, .6);
   height: 35vh;
   color: white;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   font-size: 4vw;
   position: relative;
   margin-top: 18vh;
   margin-left: 1vw;
   animation-duration: 1.75s;
   animation-name: wegrow;
   animation-fill-mode: forwards;
}

@keyframes wegrow {
   from {
      width: 40vw;
   }
   
   to {
      width: 69vw;
   }
}

.wetitle {
   font-family: sans-serif;
   font-weight: 100;
   font-size: 2.9vw;
   padding-right: 3vw;
   color: #2b384d;
}

.threeexps {
   display: flex;
   width: 28vw;
   height: 65.5vh;
   flex-direction: column;
   margin-left: 14.3vw;
   position: absolute;
   margin-top: 30px;
   justify-content: space-around;
   animation-duration: 1.75s;
   animation-name: expfadein;
   animation-fill-mode: forwards;
}

@keyframes expfadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.exp {
   width: inherit;
   height: 20.5vh;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: column;
   gap: 0;
}

.jobname {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.3vw;
   padding-left: 1.2vw;
}

.exp4 {
   width: 28vw;
   height: 20.5vh;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: column;
   position: absolute;
   margin-left: 43vw;
   margin-top: 4vh;
   animation-duration: 1.75s;
   animation-name: expfadein;
   animation-fill-mode: forwards;
}

.exp5 {
   width: 28vw;
   height: 20.5vh;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: column;
   position: absolute;
   margin-left: 43vw;
   margin-top: 47.7vh;
   animation-duration: 1.75s;
   animation-name: expfadein;
   animation-fill-mode: forwards;
}

.location {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: .8vw;
   padding-left: 1.2vw;
   font-style: italic;
   margin-top: 0;
}

.jobdesc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: .9vw;
   padding-left: 1.2vw;
   padding-bottom: .4vh;
   padding-right: 1.2vw;
}