.SU {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.PanelSU {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
}

.Panel-layerSU {
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: absolute;
}

.arrowSU:hover {
   transform: scale(1.2);
}

.arrowSU {
   margin-top: 24vh;
   margin-left: 3vw;
   width: 14vw;
   height: 25vh;
   transition: all .5s ease-in-out;
   animation-duration: 2s;
   animation-name: arrowSUfadein;
   animation-fill-mode: forwards;
}

@keyframes arrowSUfadein {
   from {
      width: 0;
      height: 0;
   }

   to {
      width: 14vw;
      height: 25vh;
   }
}


.Sudoku-BoxSU {
   height: inherit;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   position: absolute;
   animation-duration: 2s;
   animation-name: sugrow;
   animation-fill-mode: forwards;
}

@keyframes sugrow {
   from {
      margin-top: 46vh;
      margin-left: 0vw;
      height: 27vh;
      width: 30.5vw;
   }

   to {
      margin-top: 0px;
      margin-left: 0px;
      height: 75vh;
      width: 100vw;
   }
}


.Sudoku-TitleboxSU {
   margin-top: 23vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 67vw;
   animation-duration: 2s;
   animation-name: sutitleboxgrow;
   animation-fill-mode: forwards;
}

@keyframes sutitleboxgrow {
   from {
      margin-left: 12vw;
      margin-top: 2vh;
      width: 0vw;
      height: 0vh;
   }
   to {
      width: 79vw;
      height: 100%;
   }
}

.TitleSU {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.9vw;
   animation-duration: 2s;
   animation-name: sutitlegrow;
   animation-fill-mode: forwards;
}

@keyframes sutitlegrow {
   from {
      margin-top: 0vh;
      font-size: 0vw;
   }
   to {
      font-size: 1.9vw;
   }
}

.StampSU {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
   animation-duration: 2s;
   animation-name: sustampgrow;
   animation-fill-mode: forwards;
}

@keyframes sustampgrow {
   from {
      font-size: 0vw;
   }
   to {
      font-size: 1vw;
   }
}

.sudisplaybackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 10px;
   animation-duration: 2s;
   animation-name: sudispbggrow;
   animation-fill-mode: forwards;
}

@keyframes sudispbggrow {
   from {
      height: 0vh;
      width: 0vw;
   }

   to {
      width: 28vw;
      height: 34vh;
   }
}

.sudisplay {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 1;
}

.supopup {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 2;
}

.supopupbackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: 39vh;
   animation-duration: 2s;
   animation-name: supopupbggrow;
   animation-fill-mode: forwards;
}

@keyframes supopupbggrow {
   from {
      margin-left: 20vw;
      margin-top: 4vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 65.5vw;
      margin-top: 39vh;
      width: 28vw;
      height: 34vh;
   }
}

.sudescbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: .6vw;
   animation-duration: 2s;
   animation-name: sudescbggrow;
   animation-fill-mode: forwards;
}

@keyframes sudescbggrow {
   from {
      margin-left: 20vw;
      margin-top: 2vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 65.5vw;
      margin-top: .6vw;
      width: 28vw;
      height: 34vh;
   }
}

.sudesc {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.su-desc-title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.6vw;
   animation-duration: 2s;
   animation-name: sudesctitlegrow;
   animation-fill-mode: forwards;
}

@keyframes sudesctitlegrow {
   from {
      font-size: 0vw;
   }

   to {
      font-size: 1.6vw;
   }
}


.su-desc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   padding: 10px;
   font-size: 1vw;
   animation-duration: 2s;
   animation-name: sudescgrow;
   animation-fill-mode: forwards;
}

@keyframes sudescgrow {
   from {
      font-size: 0vw;
   }

   to {
      font-size: 1vw;
   }
}

.sutechbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 39vh;
   animation-duration: 2s;
   animation-name: sutechbggrow;
   animation-fill-mode: forwards;
}

@keyframes sutechbggrow {
   from {
      margin-top: 4vh;
      height: 0vh;
      width: 0vw;
   }

   to {
      margin-left: 19vw;
      margin-top: 39vh;
      width: 28vw;
      height: 34vh;
   }
}

.sutech {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sutech-box {
   font-family: sans-serif;
   font-weight: 100;
   font-size: .85vw;
   background-color: white;
   border-style: solid;
   border-color: #2b384d;
   border-width: 1px;
   width: 9vw;
   height: 4.5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   animation-duration: 2s;
   animation-name: sutechboxgrow;
   animation-fill-mode: forwards;
}

@keyframes sutechboxgrow {
   from {
      height: 0vh;
      width: 0vw;
      font-size: 0vw;
   }

   to {
      width: 9vw;
      height: 4.5vw;
      font-size: .85vw;
   }
}

@keyframes sufadein {
   0% {opacity:0;}
   100% {opacity:1;}
}