.SU {
   width: 100vw;
   height: 100vh;
   background-color: rgb(160, 177, 168, .3);
}

.PanelSU {
   background-color: white;
   height: 75vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.arrowSU:hover {
   transform: scale(1.2);
}

.arrowSU {
   margin-top: 24vh;
   margin-left: 3vw;
   width: 14vw;
   height: 25vh;
   transition: all .2s ease-in-out;
   animation-duration: 1.75s;
   animation-name: arrowSUfadein;
   animation-fill-mode: forwards;
}

@keyframes arrowSUfadein {
   0% {opacity:0;}
   100% {opacity:1;}
}


.Sudoku-BoxSU {
   height: inherit;
   width: 30vw;
   background-color: #FAF1EA;
   display: flex;
   flex-direction: row;
   position: absolute;
   margin-top: 1.5vw;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: sugrow;
   animation-fill-mode: forwards;
}

@keyframes sugrow {
   from {
      height: 27.5vh;
      width: 30vw;
   }

   to {
      margin-top: 0px;
      margin-left: 0px;
      height: 75vh;
      width: 100vw;
   }
}


.Sudoku-TitleboxSU {
   margin-top: 23vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 67vw;
   position: relative;
   margin-left: 6vw;
   animation-duration: 1.75s;
   animation-name: sufadein;
   animation-fill-mode: forwards;
}

.TitleSU {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.9vw;
}

.StampSU {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1vw;
   font-style: italic;
}

.sudisplaybackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 10px;
   animation-duration: 1.75s;
   animation-name: sufadein;
   animation-fill-mode: forwards;
}

.sudisplay {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 1;
}

.supopup {
   position: absolute;
   width: 95%;
   height: 93%;
   z-index: 2;
}

.supopupbackground {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: sufadein;
   animation-fill-mode: forwards;
}

.sudescbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 65.5vw;
   margin-top: .6vw;
   animation-duration: 1.75s;
   animation-name: sufadein;
   animation-fill-mode: forwards;
}

.sudesc {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.su-desc-title {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-size: 1.6vw;
}

.suaward {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   font-style: italic;
   text-align: center;
   font-size: 1vw;
}

.su-desc {
   font-family: sans-serif;
   font-weight: 100;
   color: #2b384d;
   text-align: center;
   padding: 10px;
   font-size: 1vw;
}

.sutechbg {
   width: 28vw;
   height: 34vh;
   position: absolute;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 19vw;
   margin-top: 39vh;
   animation-duration: 1.75s;
   animation-name: sufadein;
   animation-fill-mode: forwards;
}

.sutech {
   background-color: #FAF1EA;
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sutech-box {
   font-family: sans-serif;
   font-weight: 100;
   font-size: .85vw;
   background-color: white;
   border-style: solid;
   border-color: #2b384d;
   border-width: 1px;
   width: 9vw;
   height: 4.5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

@keyframes sufadein {
   0% {opacity:0;}
   100% {opacity:1;}
}